<header>
    <nav>
        <a href="/">OurMovies</a>
        <ul>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add Movies</a></li>
            
        </ul>
    </nav>
</header>