<header>
    <nav>
        <a href="/">OurMovies</a>
        <ul>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add Movies</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add User</a></li>
            <li><a href="/channels">Channels</a></li>
            <li><a href="/channels/new">Add Channel</a></li>
            
        </ul>
    </nav>
</header>